#ID_Surname {
    left: 204px;
    top: 82px;
}

#ID_Names {
    left: 204px;
    top: 130px;
}

#ID_Sex {
    left: 204px;
    top: 177px;
}

#ID_Nationality {
    left: 303px;
    top: 177px;
}

#ID_Delivery {
    left: 204px;
    top: 225px;
}

#ID_Expiration {
    left: 369px;
    top: 225px;
}

#ID_BirthPlace {
    left: 204px;
    top: 272px;
}

#ID_Picture {
    position: absolute;
    width: 162px;
    height: 232px;
    left: 23px;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#ID_Picture_Image {
    height: 100%;
    transform: scale(1.1);
}

#qrcode-container {
    position: absolute;
    width: 89px;
    height: 87px;
    left: 402px;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#qrcode-container img {
    position: absolute;
    left: 5px;
    top: 4px;
    width: 79px;
    height: 79px;
    object-fit: cover;
}