#ID_Surname {
    position: absolute;
    left: 205px;
    top: 78px;
}

#ID_Names {
    position: absolute;
    left: 205px;
    top: 124px;
}

#ID_Sex {
    position: absolute;
    left: 205px;
    top: 170px;
}

#ID_Nationality {
    position: absolute;
    left: 303px;
    top: 170px;
}

#ID_Delivery {
    position: absolute;
    left: 205px;
    top: 215px;
}

#ID_Expiration {
    position: absolute;
    left: 368px;
    top: 215px;
}

#ID_BirthPlace {
    position: absolute;
    left: 205px;
    top: 260px;
}

#ID_Picture {
    position: absolute;
    width: 159px;
    height: 222px;
    left: 27px;
    top: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#ID_Picture_Image {
    height: 100%;
    transform: scale(1.1);
}

#qrcode-container {
    position: absolute;
    width: 87px;
    height: 85px;
    left: 400px;
    top: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#qrcode-container img {
    width: 79px;
    height: 79px;
    object-fit: cover;
}