@import url('https://fonts.cdnfonts.com/css/hk-groteks');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

* {
    font-family: 'HK Grotesk', sans-serif;
}

/* Interface de création */

#CustomIDCard {
    padding: 20px;
    width: 50vw;
    height: calc(100% - 40px);
}

#CustomIDCard * {
    margin: 0;
    padding: 0;
}

#CustomIDCard hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: #55555522;
}

.CustomTitle h2 {
    margin-bottom: 7px !important;

    line-height: 28px;
    font-size: 24px;

    font-family: 'HK Grotesk', sans-serif;
    font-weight: 700;
}

.CustomTitle > p {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px !important;
}

.CustomTitle small {
    font-weight: 500;
    font-size: 14px;
    opacity: 50%;
}

#errors {
    margin-top: 20px !important;
}

.error {
    background: #FE0000;
    padding: 12px 18px !important;
    margin-bottom: 10px !important;
    animation: main 0.2s !important;
}

.error p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#IDForm {
    margin-bottom: 20px !important;
}

#IDForm label {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 600;
    font-size: 14px;

    color: #55555599;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#IDForm input, #IDForm select {
    margin-bottom: 15px !important;
    margin-top: 3px !important;
    padding: 8px 14px !important;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid #55555555;
    width: calc(100% - 28px);

    font-family: 'HK Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#IDForm select {
    width: 100%;
    height: 40px;
    background: none;
    -webkit-appearance: none;
}

#IDForm input:focus, #IDForm select:focus {
    border: 1px solid #0066ff;
    outline: 2px solid #0066ff55;
}

#IDForm .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#IDForm button {
    padding: 7px 12px !important;
    font-size: 16px;
    background-color: #0066ff;
    color: #fff;
    font-weight: 500;
    margin-top: 10px !important;

    border: none;

    width: 100%;

    font-family: 'HK Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;

    border: 1px solid #0066ff !important;
}

#IDForm button:hover {
    background-color: #0045ff;
    border: 1px solid #0045ff !important;
    cursor: pointer;
}

.downloadButton {
    background: none !important;
    border: 1px solid #0066ff !important;
    color: #0066ff !important;
}

.CustomLogo {
    margin-bottom: 10px !important;

    background-image: url('../assets/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;

    width: 176px;
    height: 64px;
}

/* Interface de prévisualisation */

#PreviewIDCard {
    background-color: #F6F1F1;
    padding: 20px;
    width: 50vw;
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#IDCard {
    position: relative;
    margin: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 0px rgba(255, 255, 255, 0.25), inset 0px -3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#IDCard.waiting {
    opacity: 50%;
    filter: blur(2px);
}

.IDCardBase {
    z-index: -99;
    min-width: 510px;
    max-width: 510px;
    height: 333px;
    border-radius: 20px;
}

.IDCardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.IDCardElement {
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 93.02%;
    /* identical to box height, or 17px */

    letter-spacing: -0.02em;

    color: #000000;
}

/* Repsonsiive */

@media screen and (max-width: 1070px) {
    body {
        display: block;
    }

    #PreviewIDCard, #CustomIDCard {
        width: calc(100vw - 40px);
        height: fit-content;
    }
}

@media screen and (max-width: 600px) {
    #IDCard {
        zoom: 0.68;
    }
}

.aboutToPrint {
    zoom: 1 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.aboutToPrint .IDCardOverlay, .aboutToPrint .IDCardBase {
    border-radius: 0px !important;
}

@media screen and (max-width: 400px) {
    #IDCard {
        zoom: 0.60;
    }
}

@media screen and (max-width: 350px) {
    #IDCard {
        zoom: 0.50;
    }
}

.terms {
    margin-top: 20px !important;
    color: #55555599 !important;
    font-weight: 500 !important;
}

@keyframes main {
    0% {
        transform: translateY(10px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(255, 7%, 17%);
    }

    #PreviewIDCard {
        background-color: hsl(255, 7%, 17%);
    }

    #CustomIDCard {
      background-color: #1C1B1F;
      color: white;
    }

    #IDForm input, #IDForm select {
        border: 1px solid #55555555;
        color: #fff;
        background: none !important;
    }

    #IDCard {
        background-color: #fff;
    }

    .CustomLogo {
        background-image: url('../assets/logo-dark.svg');
    }
}