@import url("https://fonts.cdnfonts.com/css/hk-groteks");

:root {
	--font-listen: "HK Grotesk", sans-serif;
	--clr-red: 0, 84%, 43%;
	--clr-green: 158, 84%, 43%;
	--clr-blue-light: 216, 100%, 50%;
	--clr-blue: 224, 100%, 50%;
	--clr-blue-dark: 248, 84%, 43%;
	--clr-grey: 0, 0%, 33%;
	--clr-bg-light: 0, 0%, 100%;
	--clr-bg-dark: 0, 0%, 100%;
	--clr-text: black;
	--gradient: conic-gradient(
		from -88.25deg at 47.65% 110.22%,
		hsl(var(--clr-blue-dark)) 0deg,
		hsl(var(--clr-green)) 213.75deg,
		hsl(var(--clr-blue-dark)) 360deg
	);
	--logo: url("../assets/logo-listenpass.svg");
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-text: white;
		--clr-bg-light: 255, 5%, 16%;
		--clr-bg-dark: 255, 7%, 11%;
		--logo: url("../assets/logo-dark-listenpass.svg");
	}
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	background-color: hsl(var(--clr-bg-light));
}

html {
	scroll-behavior: smooth;
	width: 100%;
}

* {
	font-family: var(--font-listen);
	box-sizing: border-box;
	color: var(--clr-text);
}

html.home,
html.home body {
	height: 100%;
}

a {
	color: hsl(var(--clr-blue-light));
}

#CustomHome {
	height: 100%;
}

#CustomIDCard,
#CustomHome {
	color: hsl(var(--clr-text));
	background-color: hsl(var(--clr-bg-dark));
	padding: 20px;
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#CustomIDCard hr {
	margin-top: 20px;
}
#CustomIDCard hr,
#CustomHome hr {
	width: 100%;
	margin-bottom: 10px;
	border-color: hsla(var(--clr-grey), 22%);
}

.CustomTitle h2 {
	margin-bottom: 7px;

	line-height: 28px;
	font-size: 24px;
	font-weight: 700;
}

.CustomTitle > p {
	font-weight: 600;
	font-size: 17px;
	margin-bottom: 10px;
}

.CustomTitle small {
	font-weight: 500;
	font-size: 14px;
	opacity: 50%;
}

#IDForm {
	margin-bottom: 20px;
}

#IDForm label {
	font-weight: 600;
	font-size: 14px;

	color: hsla(var(--clr-grey), 99%);
	text-transform: uppercase;
	letter-spacing: 1px;
}

#IDForm input,
#IDForm select {
	margin: 3px 0 15px 0;
	padding: 8px 14px;
	border-radius: 0px;
	border: 1px solid hsla(var(--clr-grey), 55%);
	background: hsl(var(--clr-bg-light));
	font-weight: 500;
	font-size: 18px;
	width: 100%;
}

#IDForm select {
	width: 100%;
	height: 40px;
	cursor: pointer;
	background: none;
	-webkit-appearance: none;
	background: hsl(var(--clr-bg-light));
}

#IDForm input:focus,
#IDForm select:focus {
	border: 1px solid hsl(var(--clr-blue));
	outline: 2px solid hsla(var(--clr-blue), 55%);
}

#IDForm .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
#IDForm button {
	width: 100%;
	margin-top: 10px;
	font-size: 16px;
}
.nav .nav-btn {
	font-size: 17px;
	margin: 16px 8px;
	color: hsl(var(--clr-blue-light));
	text-decoration: none;
}
.nav .nav-btn:hover {
	color: hsl(var(--clr-blue-dark));
}
button {
	padding: 7px 12px;
	background-color: hsl(var(--clr-blue-light));
	color: #fff;
	font-weight: 500;

	border-radius: 0px;

	border: none;

	font-family: var(--ListenFont);
	font-weight: 500;
	font-size: 18px;

	border: 1px solid hsl(var(--clr-blue-light));

	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

button:hover {
	background-color: hsl(var(--clr-blue));
	border: 1px solid hsl(var(--clr-blue));
	cursor: pointer;
}

button span {
	margin-right: 10px;
	margin-top: -3px;
	color: #fff;
}

a.buttonHref {
	text-decoration: none;
	color: inherit;
}

.downloadButton {
	background: none;
	border: 1px solid hsl(var(--clr-blue-light));
	color: hsl(var(--clr-blue-light));
}

.CustomLogo {
	margin-bottom: 10px;

	background-image: var(--logo);
	background-repeat: no-repeat;
	background-size: contain;

	width: 100%;
	height: 96px;
}

/* Interface de prévisualisation */

#PreviewIDCard {
	padding: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	background: var(--gradient);
}

/* Repsonsiive */

@media screen and (max-width: 1070px) {
	body {
		display: block;
		height: fit-content;
	}
	#PreviewIDCard,
	#CustomIDCard,
	#CustomHome {
		width: 100%;
	}
	#CustomIDCard,
	#CustomHome {
		height: 100%;
	}
}

.terms {
	display: block;
	color: hsla(var(--clr-grey), 99);
	font-weight: 500;
	margin-top: auto;
	padding-top: 20px;
}

@keyframes main {
	0% {
		transform: translateY(10px);
		opacity: 0%;
	}
	100% {
		transform: translateY(0px);
		opacity: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	a {
		color: #0099ff;
	}
}

.downloadButton.disabled {
	cursor: not-allowed;
	opacity: 50%;
	pointer-events: none;
}

.label-error {
	color: var(--clr-red);
}
.label-error:not(.error-visible) {
	display: none;
}

#PreviewIDCard:not(.visible) canvas#canvas {
	display: none;
}

#PreviewIDCard.visible .waiting {
	display: none;
}

#PreviewIDCard .presentation,
#PreviewIDCard .waiting {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#PreviewIDCard .waiting {
	filter: blur(2px) grayscale(100%);
	opacity: 50%;
}

canvas#canvas {
	max-width: 90%;
	max-height: 90%;
}

.nav {
	display: flex;
	justify-content: left;
	margin-left: -8px;
	margin-bottom: -8px;
}

.listenPassPromo {
	background: var(--gradient);
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
